<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/web-app/static/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#0D4278" ;>
    <header class="main_page">

        <div class="name2">
            <div class="left">
                <img src="/web-app/static/images/logo.png" class="logo">
            </div>
            <div class="right">
                <button class="Back"><a href="main_page.html">Back</a> </button>
            </div>
        </div>

    </header>
    <div class="Authorization_wrapper">
        <div class="Authorization">

            <fieldset>
                <legend class="reg_test">Authorization</legend>

                <div class="Authorization_inner">
                    <input type="password" class="password" placeholder="Enter login...">
                    <input type="password" class="password" placeholder="Enter password...">
                    <div class="reg_button"><button class="enter"><span class="reg_text">Enter</span></button></div>
                    <h3 class="or_reg"> OR </h3>
                    <div class="img1">
                        <img class="UI" src="/web-app/static/images/inno_icon.png">
                        <img class="google" src="/web-app/static/images/Google_icon.png">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
   
   
</body>
</html>