<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div class = "autorithation">
            <h2 class = "autorithation"> Autorithation </h2>
            <input type = "text" placeholder="Login" class = "login">
            <input type = "password" placeholder="Password" class = "password2">
            <h3 class = "or"> OR </h3>
            <div class = "img1">
                <img style="margin-top:2vh ;" class = "UI" src = "17198636_60x60-removebg-preview.png">
                <img class = "google" src = "Google_Chrome_icon-icons.com_75711.png">
            </div>
        </div>

    </center>
   
   
</body>
</html>