<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="../scripts/jquery-3.6.0.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/web-app/static/styles/new_style.css">

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title> Document </title>

</head>

<body class="body_">
    <header class="header">
        <div class="header-left">
            <h1 class="header-left_logo">INTABY</h1>
        </div>
        <div class="header-right">
            <button class="header-right_button">
                <a class="header-right_button-link" href="main_page.html">Back</a>
            </button>
        </div>
    </header>

    <div class="Authorization-wrapper">
        <div class="Authorization">

            <fieldset class="Authorization_fieldset">
                <legend class="Authorization_fieldset-title">AUTHORIZATION</legend>
                <div class="Authorization-inner">
                    <input type="text" class="Authorization-inner_password" id="login" placeholder="Enter login">
                    <input type="password" class="Authorization-inner_password"  id="pass" placeholder="Enter password">
                    <div class="Authorization-inner_button">
                        <button  id="btn_log" class="Authorization-inner_button-box">
                            <span class="Authorization-inner_button-text">Enter</span>
                        </button>
                    </div>
                    <h3 class="Authorization-inner_or"> OR </h3>
                    <div class="Authorization-inner_img">
                        <img class="Authorization-inner_img-IU" src="/web-app/static/images/inno_icon.png">
                        <img class="Authorization-inner_img-google" src="/web-app/static/images/Google_icon.png">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
   </body>
   

   <!-- <script type="module" src="../scripts/page_of_user_script.js"></script> -->
    <script type="module" src="../scripts/authorization_script.js"></script>
    <script src="../scripts/ajax.js"></script>

    
</html>