<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="jquery-3.6.0.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/web-app/static/styles/new_style.css">

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title> Document </title>
</head>

<body class="body_">
    <!--Блок всей страницы-->
    <div class="Board">
        <!--Левый блок страницы-->
        <div class="Board-left">
            <!--Блок текста-->
            <div class="user-result">
                <!--nickname - имя пользователя-->
                <h3 class="user-result_title">Congratulations, nickname!</h3>
                <h3 class="user-result_title">Your score is:</h3>
                <!--#### - сколько очков получил пользователь-->
                <h1 class="user-result_points">#### points!</h1>
            </div>
        </div>
        <!--Правый блок страницы-->
        <div class="Board-right">
            <!--Лидерборд-->
            <div class="leaderboard">
                <!--Оглавление блока-->
                <legend class="leaderboard_title">Leaderboard</legend>
                <!--Scroll-block со всеми участниками-->
                <fieldset style="width: 100%; margin: 0; padding: 0; border:0;">
                    <!--Далее - перечесление всех типов участников-->
                    <!--Вот отсюда и начинается работа с базой данных-->
                    <!--Каждый участник имеет собственный блок leaderboard_user-result,
                    а его содержание - зависит от типа участника-->
                    <div class="leaderboard_user-result">
                        <div class="leaderboard_user-result-left">
                            <div class="leaderboard_user-place-box">
                                <p class="leaderboard_user-place-text">1</p>
                            </div>
                            <img class="leaderboard_1st-place-icon" src="/web-app/static/images/leaderboard_1st-place.svg"/>
                            <p class="leaderboard_user-name">nickname</p>
                        </div>
                        <div class="leaderboard_user-result-right">
                            <p class="leaderboard_user-score">score</p>
                        </div>
                    </div>
                    <div class="leaderboard_user-result">
                        <div class="leaderboard_user-result-left">
                            <div class="leaderboard_user-place-box">
                                <p class="leaderboard_user-place-text">2</p>
                            </div>
                            <img class="leaderboard_2nd-place-icon" src="/web-app/static/images/leaderboard_2nd-place.svg"/>
                            <p class="leaderboard_user-name">nickname</p>
                        </div>
                        <div class="leaderboard_user-result-right">
                            <p class="leaderboard_user-score">score</p>
                        </div>
                    </div>
                    <div class="leaderboard_user-result">
                        <div class="leaderboard_user-result-left">
                            <div class="leaderboard_user-place-box">
                                <p class="leaderboard_user-place-text">3</p>
                            </div>
                            <img class="leaderboard_3rd-place-icon" src="/web-app/static/images/leaderboard_3rd-place.svg"/>
                            <p class="leaderboard_user-name">nickname</p>
                        </div>
                        <div class="leaderboard_user-result-right">
                            <p class="leaderboard_user-score">score</p>
                        </div>
                    </div>
                    <div class="leaderboard_user-result-me">
                        <div class="leaderboard_user-result-left">
                            <div class="leaderboard_user-place-box">
                                <p class="leaderboard_user-place-text-me">###</p>
                            </div>
                            <img class="leaderboard_user-icon" src="/web-app/static/images/leaderboard_user.svg"/>
                            <p class="leaderboard_user-name-me">nickname</p>
                        </div>
                        <div class="leaderboard_user-result-right">
                            <p class="leaderboard_user-score-me">score</p>
                        </div>
                    </div>
                    <div class="leaderboard_user-result">
                        <div class="leaderboard_user-result-left">
                            <div class="leaderboard_user-place-box">
                                <p class="leaderboard_user-place-text">###</p>
                            </div>
                            <img class="leaderboard_student-icon" src="/web-app/static/images/leaderboard_student.svg"/>
                            <p class="leaderboard_user-name">nickname</p>
                        </div>
                        <div class="leaderboard_user-result-right">
                            <p class="leaderboard_user-score">score</p>
                        </div>
                    </div>
                </fieldset>
                <img class="leaderboard_scroll-down" src="/web-app/static/images/leaderboard_scroll-down.svg"/>
            </div>
        </div>

    </div>

    <script src="script.js"></script>

</body>

</html>
