<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <script src="jquery-3.6.0.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web-app/static/styles/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color:#0D4278;">
    <header class="main_page">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <img src="/web-app/static/images/logo.png" class="logo col-md-3 col-ms-6 col-10">
            </div>
            <button class="col-xl-1 col-md-2 col-3 Log_in  my-3 mx-1 mx-md-3 py-2"><a href="authorization_page.html">Log in</a> </button>
            <button class="col-xl-1 col-md-2 col-3 Sign_up my-2 mx-1 mx-md-3 py-2"> <a href="registration_page.html">Sign up</a></button>
        </div>
    </header>


    <div class="d-flex align-items-center justify-content-center" style="height: 90%;">
        <div class="col-lg-6 col-md-8 col-sm-11 col-11">
            <fieldset>
                <legend class="mp_join col-xxl-6 col-md-8 col-ms-10 ">Join Quiz!</legend>
                <input class="mp_name col-lg-6" type="text" placeholder="Enter your name...">
                <div class="join_quiz_2 d-flex pt-3 align-items-center justify-content-center flex-column">
                    <input class="code" type="text" placeholder="Enter code...">
                    <button onclick="window.location.href = 'waiting_hall.html'" class="connect col-7 col-md-5 mb-3 py-2">Connect</button>
                    <h3 class="Or">OR</h3>
                    <button class="qr col-7 col-md-5 my-3 py-2">Scan QR</button>
                </div>
            </fieldset>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>