<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="jquery-3.6.0.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/web-app/static/styles/new_style.css">

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title> Document </title>
</head>

<body class="body_">
    <header class="header">
        <div class="header-left">
            <h1 class="header-left_logo">INTABY</h1>
        </div>
        <div class="header-right">
            <button class="header-right_button-login"><a class="header-right_button-link-login" href="authorization_page.html">Log in</a> </button>
            <button class="header-right_button-signup"> <a class="header-right_button-link-signup" href="registration_page.html">Sign up</a></button>
        </div>
    </header>

    <div class="Lobby-wrapper">
        <div class="Lobby">

            <fieldset class="Lobby_fieldset">
                <legend class="Lobby_fieldset-title">JOIN QUIZ!</legend>

                <div class="Lobby-inner">
                    <input class="Lobby-inner_entername" type="text" placeholder="Enter name">
                    <div class="Lobby-inner_line"></div>
                    <input class="Lobby-inner_entercode" type="text" placeholder="Enter code">
                    <div class="Lobby-inner_button">
                        <button class="Lobby-inner_button-box" onclick="window.location.href = 'waiting_hall.html'">
                            <span class="Lobby-inner_button-text">Connect</span>
                        </button>
                    </div>
                    <h3 class="Lobby-inner_or">OR</h3>
                    <div class="Lobby-inner_button">
                        <button class="Lobby-inner_button-box" onclick="window.location.href = 'waiting_hall.html'">
                            <span class="Lobby-inner_button-text">Scan QR</span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

<script src="script.js"></script>

</body>

</html>
