<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#0D4278 ;">




    <header class = "main_page">
        
        <div class = "name2">
            
            <button class = "Sign_up">  <a href="registration_page.html">Sign up</a></button>
            
            <button class = "Log_in"><a href = "authorization_page.html">Log in</a> </button>
     
        </div> 
      
      

    </header>
   
        
        <div class = "join_quiz">
            <div class = "join_quiz1">
                <fieldset>
                    <legend class="mp_join">Join Quiz!</legend>
                    <input class = "mp_name" type="text" placeholder="Enter your name...">
                <div class = "join_quiz_2">
                   
                    <input class = "code" type="text" placeholder="Enter code...">
                    <button class = "connect">Connect</button>
                    <h3 class = "Or">OR</h3>
                    <button class = "qr">Scan QR</button>
                </div>
                </fieldset>
                
                
            </div>
        
            
        </div>
     
    <script src = "script.js"></script>
</body>
</html>