<!DOCTYPE html>
<html>
<head>
<title>page_of_answer</title>
<script src="jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class = "header">
<h1>Header</h1>
</div>
<div class = "Name_of_quiz"> <h1>Name_of_quiz</h1></div>

<div class = "Hui">
  <div class = "Block1"> Block</div>
  <div class = "Block"> Block </div>
</div>

<div class = "Editor">
  <input type = "text" placeholder="Enter question" class = "Question_text">
</input>
<button class = "time_mode">Time mode</button>
<input type="text" placeholder="Answer" class = "Answer_text">
<input type="text" placeholder="Answer" class = "Answer_text">
<button class = "Add_answer">+</button>
<button class = "Add_answer">+</button>


</div>
<button class = "save">Save</button>

</body>
</html>