<!DOCTYPE html>
<html lang="en">

<head>
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/web-app/static/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color:#0D4278 ;">
    <header class="main_page">

        <div class="name2">
            <div class="left">
                <img src="/web-app/static/images/logo.png" class="logo">
            </div>
            <div class="right">
                <button class="Back"><a href="main_page.html">Back</a> </button>
            </div>
        </div>

    </header>
    <div class="Registration_wrapper">
        <div class="Registration">

            <fieldset>
                <legend class="reg_test">Registration</legend>

                <div class="Registration_inner">

                    <input class="email" type="email" placeholder="Email">
                    <div class="namesurname">
                        <input class="name" type="text" placeholder="Name">
                        <input class="surname" type="text" placeholder="Surname">
                    </div>
                    <input type="password" class="password" placeholder="Password">
                    <input type="password" class="password" placeholder="Repeat password">
                    <div class="reg_button"><button onclick="window.location.href = 'page_of_user.html'" class="reg"><span class="reg_text">Register</span></button></div>
                    <h3 class="or_reg"> OR </h3>
                    <div class="img1">
                        <img class="UI" src="/web-app/static/images/inno_icon.png">
                        <img class="google" src="/web-app/static/images/Google_icon.png">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <!-- <footer>
        <h1> FOOTER</h1>
    </footer> -->

    <script src="script.js"></script>
</body>

</html>