<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet"/>

    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/web-app/static/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>

<body class="v377_12">
    <header>

        <div class="name2">
            <div class="left">
                <h1 class = "logo_intaby">INTABY</h1>
            </div>
            <div class="right">
                <button class="Back"><a href="main_page.html">Back</a> </button>
            </div>
        </div>

    </header>
    <div class="Registration_wrapper">
        <div class="Registration">

            <fieldset>
                <legend class="reg_test">Registration</legend>

                <div class="Registration_inner">

                    <input class="email" type="email" placeholder="Email">
                    <div class="namesurname">
                        <input class="name" type="text" placeholder="Name">
                        <input class="surname" type="text" placeholder="Surname">
                    </div>
                    <input type="password" class="password" placeholder="Password">
                    <input type="password" class="password" placeholder="Repeat password">
                    <div class="reg_button">
                        <button onclick="window.location.href = 'page_of_user.html'" class="reg"><span class="reg_text">Register</span></button>
                    </div>
                    <h3 class="or_reg"> OR </h3>
                    <div class="img1">
                        <img class="UI" src="/web-app/static/images/inno_icon.png">
                        <img class="google" src="/web-app/static/images/Google_icon.png">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <!-- <footer>
        <h1> FOOTER</h1>
    </footer> -->

    <script src="script.js"></script>
</body>

</html>