<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
<h1>HEADER</h1>
</header>
<center>
    <div class = "Registration">
        <h2>Registration</h2> 
        <input class = "email" type="email" placeholder = "example@mail.ru">
        <div class = "namesurname">
            <input class = "name" type = "text" placeholder = "Ivan">
            <input class = "surname" type = "text" placeholder = "Ivanov">
        </div>
        <input type="password" class = "password" placeholder="Password">
        <input type="password" class = "password" placeholder="Repeat password">
        <button class = "reg">Register</button>
    <h3> or </h3>
    <div class = "img1">
        <img class = "UI" src = "17198636_60x60-removebg-preview.png">
        <img class = "google" src = "Google_Chrome_icon-icons.com_75711.png">
    </div>
  
    </div>
</center>


<footer>
    <h1> FOOTER</h1>
</footer>

    <script src = "script.js"></script>
</body>
</html>