<!doctype html>
<html lang="en" style="height:100%">

<head>
  <title>waiting hall</title>
  <script src="../scripts/wh.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/web-app/static/styles/new_style_1.css">

</head>

<body style="background-color: #0D4278; height:100%">

  <header class="py-3 px-2">
    <div class="d-flex">
      <div class="ml-2">
        <h1 class="logo_intaby">INTABY</h1>
      </div>
    </div>
  </header>
  <div class="waiting_hall_content d-flex flex-column justify-content-begin align-items-begin position-relative col-12">
    <div class="below_header d-flex justify-content-between align-items-center col-12">
      <div class="quiz_code_wrapper d-flex flex-column align-items-center quiz_code_wrapper text-center m-3 px-4 py-3
      col-5 col-md-3">
        <div class="quiz_code">
          QUIZ CODE:
        </div>
        <div class="quiz_code_number">
          
        </div>
      </div>
      <div class="timer_wrapper d-flex flex-column justify-content-center align-items-center m-4">
        <div class="starts_in">Starts in </div>
        <div class="timer px-4 py-1">-</div>
        <div class="seconds">seconds</div>
      </div>
    </div>

    <div class="line_separator"></div>

    <div class="waiting_hall_wrapper d-flex justify-content-begin text-center flex-wrap">
      <!-- <div class="person  mt-3 col-md-2 col-xs-6">Person 1</div>
      <div class="person  mt-3 col-md-2 col-xs-6">Person 2</div>
      <div class="person  mt-3 col-md-2 col-xs-6">Person 3</div>
      <div class="person  mt-3 col-md-2 col-xs-6">Person 4</div> -->
    </div>
    <div class="d-flex justify-content-end align-items-center participants_wrapper mb-4 me-4"
      style="width: 100%">
      <img src="/web-app/static/images/User_icon.png" class="user_icon" >
      <div id="amount" class="participants_text me-3"></div>
    </div>
  </div>
  <script src="..\scripts\addParticipant.js"></script>
  <script src="../scripts/ajax.js"></script>
  <script src="../scripts/wh.js"></script>
</body>