<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <header class = "main_page">
        <div class = "name2">
            <h2 class = "Intaby"> Intaby</h2>
     
        </div> 
      
      

    </header>
    <div class="container">
      <div class="row  mh_top">
        <div class="col-md-7 col-7 wh_name">
          Name of quiz
        </div>
        <div class="col-md-4 col-7 wh_start">
          Stars in _
        </div>
      </div>
      <div class="row wn_hall_main" style="display: flex;
      justify-content: center;
      align-items: center;">
        <div class="col-md-12 col-10 wh_hall">
          <div class = "col-md-4 wh_count" id = "online">
              Count of people
          </div>
          <div class="circle"></div>
  
        </div>
      
      </div>

    </div>
    <script src="wh.js"></script>
  </body>
</html>