<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body style="display: flex; justify-content: center; align-items: center;">
    <div>
        <h1 id="people_in_lobby">People in lobby: 0</h1>
        <button id="start_quiz">START QUIZ</button>
    </div>
    <script src="../scripts/ajax.js"></script>
    <script src="../scripts/wh_teacher.js"></script>
    
</body>
</html>