/* global styles */

body {
    height: 100%;
}


header {
    height: max-content;
    background-color: #142036;
}

.logo_intaby {
    /* INTABY */


    /*width: 30%;*/


    font-family: 'Josefin Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    /*margin: 3%;*/
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.115em;

    color: #FFFFFF;

    /* INTABY */


    width: 20%;
    margin: 2%;
}

/* Page of answer */

/* .Time_scale {
    transition: width 15s ease-in;
    transition-property: width;
    transition-timing-function: ease-in;
} */

/* .Time_scale:hover {
    width: 0px;
} */

.Content_wrapper {
    width: 90%;
    height: 90%;
}

.Question_wrapper {
    /* Font */
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;

    border: #FFFFFF 4px dashed;
}

.Answer_button {
    /* Font */
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

@media (min-width: 576px) {
    .Question_wrapper {
        font-size: xx-large;
    }

    .Answer_button {
        font-size: x-large;
        min-height: 40%;
    }

    .Content_wrapper {
        height: 60%;
    }
}

@media (max-width: 768px) {
    .Question_wrapper {
        font-size: xx-large;
    }

    .Answer_button {
        font-size: x-large;
        min-height: 20%;
    }

    .Content_wrapper {
        height: 80%;
    }
}

@media (min-width: 1024px) {

    .Answer_button {
        font-size: x-large;
        min-height: 30%;
    }

}

@media (min-width: 1280px) {
    .Question_wrapper {
        font-size: x-large;
    }

    .Content_wrapper {
        height: 90%;
    }

}









/* page_of_create */

.Enter_quiz_name {
    /*border-bottom: 2px gray solid;*/
}

.Enter_quiz_name_text {
    color: #585B5F;
    font-size: x-large;
    background-color: #DAE3ED;
    border-style: none;
    border-bottom: 2px #585B5F solid;
}

.Enter_quiz_name_text::placeholder {
    color: #585B5F;
}

.Editor {
    background-color: #0D4278;
    /*height: 60%;*/
    height: max-content;
}

.type_a_question {
    resize: none;
    height: max-content;
    background-color: #0D4278;
    color: white;
    min-height: 5em;
    font-size: x-large;
    border: 3px dashed white;
}

.type_a_question::placeholder {
    text-align: left;
}

.enter_header {
    height: 40%;
}

.mode {
    background-color: #C5D3E1;
    text-align: center;
    font-size: x-large;
    height: 2em;
}

.Answer_add_wrapper {
    height: max-content;
}

.Answer_type {
    color: white;
    font-size: x-large;
}

.Answer_type::placeholder {
    text-align: left;
}

@media(min-width: 992px) {

    .add_answer_quiz,
    .answer_wrapper {
        width: 47%;
    }
}

@media (max-width: 768px) {
    .add_answer_quiz {
        font-size: large;
    }

    .Editor {
        height: 80%;
    }
}

.add_answer_quiz {
    background-color: #142036;
    border: #FFFFFF 2px solid;
    font-size: x-large;
    border-radius: 0;
    height: 3.7em;
}

.Delete_button {
    margin-bottom: 6%;
    margin-right: 2%;
    background-color: rgba(28, 28, 28, 0);
    background-image: url("Cross_icon.png");
    border-style: none;
}

.enter_below {
    height: 8%;
}

.add_question_wrapper {
    height: 100%;
}

.add_qustion_button {
    height: 100%;
    text-align: left;
    border-style: none;
    background-color: #DAE3ED;
    color: #0D4278;
    font-size: x-large;
}

.save_button {
    font-size: x-large;
    border: 4px white solid;
    background-color: #142036;
    color: white;
}


.save_wrapper {
    height: 100%;
}

textarea::-webkit-input-placeholder {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea::-moz-placeholder {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* page_of_user */

.Log_Out {
    background-color: #142036;
    border: 2px solid #FFFFFF;
    cursor: pointer;

    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.log-out-text {
    /* Font */
    font-family: 'Rubik', serif;
    font-size: x-large;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;

    color: #FFFFFF;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;
}

.user_wrapper {
    background-color: #0D4278;
}

.quiz_storage {
    height: 70%;
}

.user_name {
    font-size: x-large;
    font-family: 'Josefin Sans', serif;
    font-style: normal;
    color: #DBE4ED;
}

.Edit_profile {
    background: #0D4278;
    border: 2px #FFFFFF solid;
}

.Edit_profile-link {
    color: #FFFFFF;
}

.quiz_storage {
    background-color: #DBE4ED;
}

.add_quiz_header,
.add_quiz_footer {
    background-color: #3D71A0;
}

.add_quiz_button {
    background-color: #193050;
    border: 5px white solid;
    height: 70%;
    filter: drop-shadow(4px 4px 4px rgba(25, 48, 80, 0.25));
}

.quiz_button {
    background-color: #193050;
    filter: drop-shadow(4px 4px 4px rgba(25, 48, 80, 0.25));
}

.add_quiz_text,
.quiz_text {
    font-size: x-large;
    font-family: 'Rubik', serif;
    font-style: normal;
}

.title {
    font-size: large;
    font-family: 'Staatliches', serif;
    font-style: normal;
    color: #DBE4ED;
}

.edit {
    font-size: large;
    font-family: 'Rubik', serif;
    font-style: normal;
    color: #DBE4ED;
}

.secondary_text,
.description {
    font-size: medium;
    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    color: #DBE4ED;
}

a {
    color: inherit;
    text-decoration-line: none;
}

/* waiting_hall */

.waiting_hall_content {
    height: 90%;
}

.below_header {
    background-color: #0D4278;
}

.quiz_code_wrapper {
    background-color: #99B0C8;
    border-radius: 15px;
    color: white;
}

.quiz_code {
    font-size: large;
    font-family: Staatliches, serif;
}

.quiz_code_number {
    font-size: xx-large;
    font-family: Roboto, serif;
}

.timer {
    background-color: #142036;
}


.timer_wrapper {
    color: white;
}

.timer {
    font-size: xx-large;
    font-family: Roboto, serif;
}

.starts_in {
    font-size: x-large;
    font-family: Roboto, serif;
}

.seconds {
    font-size: large;
    font-family: Roboto, serif;
}

.line_separator {
    height: 2%;
    background-color: white;
}

.person {
    font-size: x-large;
    color: white;
    font-family: "Josefin Sans", serif;
}


.participants_text {
    font-size: xx-large;
    color: white;
    font-family: "Josefin Sans", serif;
}

@media (max-width: 767px) {
    .quiz_code {
        font-size: medium;
    }

    .quiz_code_number {
        font-size: x-large;
    }

    .starts_in {
        font-size: large;
    }

    .timer {
        font-size: x-large;
    }

    .seconds {
        font-size: medium;
    }
}

@media (min-width: 768px) {
    .person {
        font-size: xx-large;
    }

    .user_icon {
        height: 100%;
        width: 8%;
    }
}

.user_icon {
    height: 100%;
    width: 3%;
}