/* Global variables */

body::-webkit-scrollbar-thumb {
    background-color: #142036;
}
body::-webkit-scrollbar {
    width: 1em;
}

.body_ {
    background: rgba(13, 66, 120, 1);

    /* Size */
    width: 100vw;

    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    /* Others */
    margin: 0;
    padding: 0;
}

.body_lobby {
    min-width: 500px;
    width: 100%;
    height: 100%;
    background: rgba(13, 66, 120, 1);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.header {
    background-color: #142036;

    /* Size */
    width: 100vw;
    height: 85px;

    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-align: center;

    /* Others */
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 4;
}
.header-left{

    /* Size */
    width: 50%;
    height: 100%;

    /* Display */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.header-left_logo {
    /* Adapt it */
    width: 20%;
    margin: 2%;

    /* Font */
    font-family: 'Josefin Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    letter-spacing: 0.115em;
    color: #FFFFFF;

    /* Display */
    display: flex;
    align-items: center;
    text-align: center;
}
.header-right{
    /* Size */
    width: 50%;
    height: 100%;

    /* Display */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-right_button{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;

    /* Size */
    width: 7rem;

    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    /* Others */
    margin: 0.7rem 0.7rem 0.7rem 0;
    padding: 1rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.header-right_button-link{

    /* Font */
    font-family: 'Rubik', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;

    color: #142036FF;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;

    /* Others */
    flex: none;
    order: 0;
    flex-grow: 1;
}


/* Authorization Page */

.Authorization-wrapper{

    /* Size */
    width: 100%;
    min-height: 85vh;

    /* Display */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    /* Other */
    margin-top: 1vh;
}
.Authorization{
    /* Size */
    width: 90%;
    height: max-content;

    /* Display */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    /* Other */

}
.fieldset{
    /* Size */
    border-width: 8px;
    border-style: solid;
    width: 40vw;

    /* Display */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    /* Others */
    padding: 0 40px 20px 40px;

    border-color: #CAD8E5;
}
.fieldset_title{
    /* Size */
    width: auto;

    /* Font */
    font-family: 'Staatliches', serif;
    font-size: 64px;
    font-weight: 400;
    font-style: normal;

    color: #FFFFFF;

    /* Display */
    display: flex;
    align-items: center;
    text-align: center;

    /* Other */
    padding-left: 4%;
    padding-right: 4%;
}
.Authorization-inner{
    background-color: #3D71A0;

    /* Size */
    width: 100%;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Others */
    padding-bottom: 1%;
    padding-top: 5%;
}
.Authorization-inner_password{
    background-color: #DAE3ED;

    /* Size */
    width: 80%;
    height: 32px;

    /* Font */
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.6);

    /* Display */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* Box */
    background-clip: padding-box;
    box-shadow: inset 0 -0.25rem 0 #0D4278;
    border-radius: 8px 8px 0 0;
    border: 0;

    /* Others */
    margin: 2% 1%;
    padding: 1.063rem;

    flex: none;
    order: 0;
    flex-grow: 1;
    z-index: 3;
}
.Authorization-inner_button{
    /* Size */
    width: 50%;

    /* Font */

    /* Display */
    display: flex;
    justify-content: center;

    /* Others */
    margin-top: 2%;
}
.Authorization-inner_button-box{
    background-color: #142036;

    /* Size */
    height: 100%;
    width: 100%;

    /* Box */
    box-sizing: border-box;
    border-radius: 0;
    border: #FFFFFF 2px solid;

    /* Others */
    margin: 0;
    padding: 1.063rem;
}
.Authorization-inner_button-text{
    /* Font */
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
    text-decoration: none;

    color: #FFFFFF;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
}
.fieldset_or{
    /* Size */
    width: 15vw;

    /* Font */
    font-family: Roboto Condensed, serif;
    font-size: xx-large;
    font-style: normal;
    font-weight: 400;
    color: white;

    /* Display */
    text-align: center;
    align-items: center;

    /* Others */
    margin: 3%;
    padding: 0;

    z-index: 2;
}
.fieldset_img{
    /* Size */
    width: 50%;

    /* Display */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* Others */
    margin-bottom: 2%;
}
.fieldset_img-IU,
.fieldset_img-google{
    /* Size */
    height: auto;
    width: auto;

    /* Others */
    padding: 0;
    cursor: pointer;
}

/* Registration Page */

/* Main Page */

/* Media */

@media (max-width: 576px) {
    /* Global variables */
    .header-right_button{
        padding: 0.5rem;
    }

    /* Authorization Page */
    .fieldset {
        width: 80vw;
        padding-left: calc(20px + (40 - 20) * ((100vw - 240px) / (576 - 280)));
        padding-right: calc(20px + (40 - 20) * ((100vw - 240px) / (576 - 280)));
        padding-bottom: calc(10px + (20 - 10) * ((100vw - 240px) / (576 - 280)));
        border-width: calc(4px + (8 - 4) * ((100vw - 240px) / (576 - 280)));;
    }
    .fieldset_title {
        font-size: calc(32px + (64 - 32) * ((100vw - 240px) / (576 - 280)));
    }
    .Authorization-inner_password {
        height: calc(16px + (32 - 16) * ((100vw - 240px) / (576 - 280)));
        font-size: calc(16px + (18 - 16) * ((100vw - 240px) / (576 - 280)));
    }
    .Authorization-inner_button-text {
        font-size: calc(16px + (18 - 16) * ((100vw - 240px) / (576 - 280)));
    }
    .fieldset_or {
        font-size: calc(18px + (24 - 18) * ((100vw - 240px) / (576 - 280)));;
    }
    .fieldset_img {
        justify-content: space-between;
    }

    /* Registration Page */

    /* Main Page */
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Global variables */
    .body_{
        height: auto;
    }
    .header-right_button{
        padding: 0.5rem;
    }

    /* Authorization Page */
    .fieldset {
        width: 80vw;
        padding: 0 1.25rem 1rem 1.25rem;
    }
    .fieldset_title {
        font-size: 4.25em;
    }
    .Authorization-inner_password {
        height: 2em;
        font-size: x-large;
    }
    .Authorization-inner_button-text {
        font-size: x-large;
    }
    .fieldset_or {
        font-size: xx-large;
    }
    /* Registration Page */

    /* Main Page */
}

@media (min-width: 768px) and (max-width: 992px) {  }

@media (min-width: 992px) and (max-width: 1200px) {  }

@media (min-width: 1200px) and (max-width: 1400px) {  }

@media (max-width: 1400px) {  }
