[package]
name = "rust-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
postgres = "0.19.3"
rand = "0.8.5"
num_enum = "0.5.7"
rocket = "0.5.0-rc.2"
